<h1>Application Panel</h1>
<mat-card *ngIf="showTable">
  <mat-tab-group preserveContent>
    <mat-tab label="All Applications">
      <div *ngIf="allData.length > 0" class="mat-table">
        <table class="mat-table" mat-table [dataSource]="dataSource">
          <!-- Sl No. Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Application Id Column -->
          <ng-container matColumnDef="Application Id">
            <th class="head" mat-header-cell *matHeaderCellDef>
              Application Id
            </th>
            <td class="data" mat-cell *matCellDef="let element">
              {{ element.id }}
            </td>
          </ng-container>

          <!-- Company Name Column -->
          <ng-container matColumnDef="Company Name">
            <th class="head" mat-header-cell *matHeaderCellDef>Company Name</th>
            <td class="data" mat-cell *matCellDef="let element">
              {{ element.companyName | titlecase }}
            </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="Status">
            <th class="head" mat-header-cell *matHeaderCellDef>Status</th>
            <td class="head" mat-cell *matCellDef="let element">
              {{ element.status }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="Action">
            <th class="head" mat-header-cell *matHeaderCellDef>Action</th>
            <td class="head" mat-cell *matCellDef="let element">
              <button
                mat-flat-button
                (click)="showApplication(element.id)"
                color="primary"
              >
                View Application
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
      <div *ngIf="allData.length == 0" class="mat-table error">
        <h2>No forms !</h2>
      </div>
    </mat-tab>
    <mat-tab label="New Applications">
      <div *ngIf="newForm.length > 0" class="mat-table">
        <table class="mat-table" mat-table [dataSource]="newDataSource">
          <!-- Sl No. Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Application Id Column -->
          <ng-container matColumnDef="Application Id">
            <th class="head" mat-header-cell *matHeaderCellDef>
              Application Id
            </th>
            <td class="data" mat-cell *matCellDef="let element">
              {{ element.id }}
            </td>
          </ng-container>

          <!-- Company Name Column -->
          <ng-container matColumnDef="Company Name">
            <th class="head" mat-header-cell *matHeaderCellDef>Company Name</th>
            <td class="data" mat-cell *matCellDef="let element">
              {{ element.companyName | titlecase }}
            </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="Status">
            <th class="head" mat-header-cell *matHeaderCellDef>Status</th>
            <td class="head" mat-cell *matCellDef="let element">
              {{ element.status }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="Action">
            <th class="head" mat-header-cell *matHeaderCellDef>Action</th>
            <td class="head" mat-cell *matCellDef="let element"> <button
                mat-flat-button
                (click)="updateStatus(element.id,pending)"
                color="accent"
              >
                Add to pending
              </button></td>
          </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="View">
                <th class="head" mat-header-cell *matHeaderCellDef>View</th>
                <td class="head" mat-cell *matCellDef="let element"> <button
                    mat-flat-button
                    (click)="showApplication(element.id)"
                    color="primary"
                  >
                    View Application
                  </button></td>
              </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
      <div *ngIf="newForm.length == 0" class="mat-table error">
        <h2>No new forms !</h2>
      </div>
    </mat-tab>
    <mat-tab label="Pending Applications">
      <div *ngIf="pendingForm.length > 0" class="mat-table">
        <table class="mat-table" mat-table [dataSource]="pendingDataSource">
          <!-- SL No. Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Application Id Column -->
          <ng-container matColumnDef="Application Id">
            <th class="head" mat-header-cell *matHeaderCellDef>
              Application Id
            </th>
            <td class="data" mat-cell *matCellDef="let element">
              {{ element.id }}
            </td>
          </ng-container>

          <!-- Company Name Column -->
          <ng-container matColumnDef="Company Name">
            <th class="head" mat-header-cell *matHeaderCellDef>Company Name</th>
            <td class="data" mat-cell *matCellDef="let element">
              {{ element.companyName | titlecase }}
            </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="Status">
            <th class="head" mat-header-cell *matHeaderCellDef>Status</th>
            <td class="head" mat-cell *matCellDef="let element">
              {{ element.status }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="Action">
            <th class="head" mat-header-cell *matHeaderCellDef>Action</th>
            <td class="head" mat-cell *matCellDef="let element"> <button
                class="approved"
                mat-flat-button
                (click)="updateStatus(element.id,approve)"
                color="accent"
              >
               Approve
              </button>
              <button
                mat-flat-button
                (click)="updateStatus(element.id,decline)"
                color="warn"
              >
                Decline
              </button>
            </td>
          </ng-container>
            <!-- Action Column -->
            <ng-container matColumnDef="View">
                <th class="head" mat-header-cell *matHeaderCellDef>View</th>
                <td class="head" mat-cell *matCellDef="let element"> <button
                    mat-flat-button
                    (click)="showApplication(element.id)"
                    color="primary"
                  >
                    View Application
                  </button></td>
              </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
      <div *ngIf="pendingForm.length == 0" class="mat-table error">
        <h2>No pending forms !</h2>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<app-view-application
  *ngIf="!showTable"
  [formId]="formId"
  (close)="onclose()"
></app-view-application>
