<mat-list>
    <mat-list-item><a routerLink="home" style="text-decoration: none;">Home</a></mat-list-item>
    <mat-list-item><a routerLink="user" style="text-decoration: none;">User Data</a></mat-list-item>
    <mat-list-item><a routerLink="appData" style="text-decoration: none;">Applications</a></mat-list-item>
    <mat-list-item><a routerLink="slot" style="text-decoration: none;">Slots</a></mat-list-item>
    <mat-list-item><a (click)="logout()" class="link" style="text-decoration: none;">Logout</a></mat-list-item>
</mat-list>